/*header*/
header {
  background-image: url(../img/pattern.png);
  background-color:rgb(48, 131, 208);
  background-size: contain;
  height: 80px;
}

.logo {
  width: 12%;
  margin-top: 2%;
 }

main p {
  font-size: 1.0rem;
}

.titolo {
 text-align: left;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 47px;
}

.by {
  color: rgb(139,139,139);
}

.name {
  color: rgb(48, 131, 208);
}

.text {
  font-size: 1.0rem;
  color: rgb(139,139,139);
  margin-top: 0%;
}

.img {
  width: 735px;
  height: 500px;
}

.img-2 {
  width: 640px;
  height: 500px;
}
/* /header*/

/*main*/
.span {
}